In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import StockHistory
import seaborn as sns

In [2]:
names = StockHistory.get_namad_list()

In [19]:
sec_data = pd.DataFrame()
asset =0
for n in names["NAMAD"]:
    d = StockHistory.get_namad_history_by_name(n,start_date='1393-1-1',end_date='1398-1-1',from_cache=True)["ClosePrice"]
    if len(d) >= 1200:
        asset+=1
        sec_data[n] = d
sec_data.dropna(inplace=True)        
sec_data.head()

,فسا,فرآور,سبزوا,وبملت,لپيام,ثنام,وآذر,حسينا,رتكوح,غدام,...,ديران,بشهاب,بكاب,البرز,ختوقا,دپارس,هرمز,شخارك,قشير,ولصنم
GDATE,,,,,,,,,,,,,,,,,,,,,
2014-04-16,1201.0,4739.0,1450.0,2333.0,870.0,2082.0,1810.0,33251.0,3102.0,13553.0,...,9022.0,11576.0,10645.0,1248.0,2501.0,39010.0,1000.0,36027.0,6698.0,1742.0
2014-04-19,1220.0,4739.0,1450.0,2312.0,710.0,2082.0,1754.0,33251.0,3102.0,13153.0,...,9022.0,11431.0,10645.0,1205.0,2424.0,38727.0,1000.0,35929.0,6603.0,1691.0
2014-04-20,1220.0,4739.0,1450.0,2328.0,661.0,2082.0,1816.0,33251.0,3102.0,13153.0,...,9022.0,11435.0,10645.0,1225.0,2411.0,38603.0,1000.0,35934.0,6930.0,1757.0
2014-04-21,1220.0,5403.0,1450.0,2344.0,661.0,2082.0,1883.0,33251.0,3102.0,13153.0,...,8731.0,11034.0,10645.0,1261.0,2363.0,38832.0,1000.0,36036.0,7226.0,1803.0
2014-04-22,1220.0,5392.0,1450.0,2357.0,661.0,2082.0,1938.0,47907.0,3102.0,13153.0,...,8383.0,10854.0,10645.0,1308.0,2279.0,38876.0,1000.0,36174.0,7183.0,1745.0

In [60]:
market_data = StockHistory.get_market_index(start_date='1393-1-1',end_date='1398-1-1')
market_data.drop(columns=["Date"],inplace=True)

In [61]:
market_data.head()

              Value
GDate
2014-03-25  79013.5
2014-03-26  78619.4
2014-03-29  78239.7
2014-03-30  78469.2
2014-03-31  78741.3

In [62]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [63]:
sec_returns.head()

,فسا,فرآور,سبزوا,وبملت,لپيام,ثنام,وآذر,حسينا,رتكوح,غدام,...,ديران,بشهاب,بكاب,البرز,ختوقا,دپارس,هرمز,شخارك,قشير,ولصنم
GDATE,,,,,,,,,,,,,,,,,,,,,
2014-04-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-19,0.015696,0.000000,0.0,-0.009042,-0.203228,0.0,-0.031428,0.000000,0.0,-0.029958,...,0.000000,-0.012605,0.0,-0.035063,-0.031272,-0.007281,0.0,-0.002724,-0.014285,-0.029714
2014-04-20,0.000000,0.000000,0.0,0.006897,-0.071511,0.0,0.034737,0.000000,0.0,0.000000,...,0.000000,0.000350,0.0,0.016461,-0.005377,-0.003207,0.0,0.000139,0.048336,0.038288
2014-04-21,0.000000,0.131128,0.0,0.006849,0.000000,0.0,0.036230,0.000000,0.0,0.000000,...,-0.032786,-0.035697,0.0,0.028964,-0.020110,0.005915,0.0,0.002835,0.041826,0.025844
2014-04-22,0.000000,-0.002038,0.0,0.005531,0.000000,0.0,0.028790,0.365177,0.0,0.000000,...,-0.040674,-0.016448,0.0,0.036594,-0.036195,0.001132,0.0,0.003822,-0.005969,-0.032697

In [64]:
market_data=np.log(market_data / market_data.shift(1))
market_data.head()

               Value
GDate
2014-03-25       NaN
2014-03-26 -0.005000
2014-03-29 -0.004841
2014-03-30  0.002929
2014-03-31  0.003462

In [65]:
sec_returns = sec_returns.merge(market_data,how='left',left_index=True,right_index=True)
sec_returns.head()

,فسا,فرآور,سبزوا,وبملت,لپيام,ثنام,وآذر,حسينا,رتكوح,غدام,...,بشهاب,بكاب,البرز,ختوقا,دپارس,هرمز,شخارك,قشير,ولصنم,Value
GDATE,,,,,,,,,,,,,,,,,,,,,
2014-04-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.004238
2014-04-19,0.015696,0.000000,0.0,-0.009042,-0.203228,0.0,-0.031428,0.000000,0.0,-0.029958,...,-0.012605,0.0,-0.035063,-0.031272,-0.007281,0.0,-0.002724,-0.014285,-0.029714,-0.007083
2014-04-20,0.000000,0.000000,0.0,0.006897,-0.071511,0.0,0.034737,0.000000,0.0,0.000000,...,0.000350,0.0,0.016461,-0.005377,-0.003207,0.0,0.000139,0.048336,0.038288,0.007066
2014-04-21,0.000000,0.131128,0.0,0.006849,0.000000,0.0,0.036230,0.000000,0.0,0.000000,...,-0.035697,0.0,0.028964,-0.020110,0.005915,0.0,0.002835,0.041826,0.025844,0.011734
2014-04-22,0.000000,-0.002038,0.0,0.005531,0.000000,0.0,0.028790,0.365177,0.0,0.000000,...,-0.016448,0.0,0.036594,-0.036195,0.001132,0.0,0.003822,-0.005969,-0.032697,0.009284

In [97]:
res = []

for sec in sec_returns:
    cov_with_market = (sec_returns[[sec_returns[sec].name,"Value"]].cov()*20).iloc[0,1]
    market_variance = sec_returns["Value"].var() * 20
    beta = cov_with_market / market_variance
    res.append({"Name" : sec_returns[sec].name , "Beta" : beta})

beta_companies = pd.DataFrame(res).set_index("Name")

In [105]:
beta_companies[(beta_companies["Beta"] > 0) & (beta_companies["Beta"] < 1)].sort_values("Beta",ascending = True)

             Beta
Name
غسالم    0.016749
سمتاز    0.019299
وملي     0.026281
كباده    0.030692
قشهد     0.033944
چنوپا    0.034582
خنصيرح   0.035683
سصفها    0.035880
غنوش     0.037744
سنوين    0.044339
فنورد    0.054225
سفاسي    0.056716
سنير     0.061491
سخزر     0.063381
درازك    0.085974
آرمان    0.088208
سبجنو    0.088600
وتوسح    0.093878
دروز     0.107523
ساربيل   0.108291
ركيشح    0.122626
آريان    0.123317
دالبر    0.123728
خزرح     0.123762
وپخش     0.125750
سپرمي    0.131227
دسينا    0.133372
سمازن    0.143656
سدشت     0.146016
فسلير    0.146543
...           ...
حخزر     0.904946
وبملت    0.905054
كترام    0.905499
حفاري    0.911092
وصندوق   0.916398
فرابورس  0.917751
وسنا     0.923775
ختوقا    0.923850
كيسون    0.942811
مفاخر    0.942841
ميدكو    0.945646
چافست    0.946154
كاريس    0.948441
سجام     0.950263
واتي     0.953015
كساپا    0.958100
فولاژ    0.962729
غالبر    0.967773
وثنو     0.967999
لازما    0.972886
خمحركه   0.981708
داراب    0.983011
كگاز     0.983752
سدور     0.984770
فاذر     0.985275
تكنار    0.985784
شيراز    0.991886
وتوشه    0.992625
مداران   0.998332
Value    1.000000

[329 rows x 1 columns]